{% extends 'home.html' %}
{% load static %}
{% block body %}
    <!-- End Navbar -->

    <!-- Start Content -->
    <div id="halvor">

        <!-- Start Header -->
        <section class="header-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 text-md-left text-center mt-30">

                        <!-- head-title -->
                        <div class="head-text">
                            <h2>ABOUT OUR AGENCY</h2>
                            <div class="mt-10"></div>
                            <p>We’ve pushed ourselves to deliver the most forward-thinking digital experiences for our
                                clients. We fundamentally believe in supporting our people to create the future. More
                                than
                                any process or tool.</p>
                        </div>
                    </div>

                </div>
                <div id="headmove" class="lines-page">
                    <div data-depth="0.2" class="img-line">
                        <img src="{% static 'assets/img/lines.png' %}" alt="">
                    </div>

                </div>
            </div>
        </section>
        <!-- End Header -->

        <section class="main-about between">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="img-page-about">
                            <img src="{% static 'assets/img/about/2.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="img-page-about">
                            <img src="{% static 'assets/img/about/3.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="about-page-text">
                            <h3>Who we are</h3>
                            <p>We’ve pushed ourselves to deliver the most forward-thinking digital experiences for our
                                clients. We fundamentally believe in supporting our people to create the future. More
                                than any process or tool.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-page-text">
                            <h3>How we work</h3>
                            <p>We know the elements that influence the perception of a brand by potential customers. We
                                can effectively promote your company so that it would stand out from your competitors.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-page-text">
                            <h3>Our Vision</h3>
                            <p>We advise our customers when they can’t find a perfect solution. We prompt when they lack
                                unconventional ideas. We create and implement projects that are doomed to success..</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="between team">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="title-main">
                            <h2>Team</h2>
                            <p>Find out everything.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="team-slider">
                    <div class="mt-30"></div>
                    <div class="owl-carousel owl-theme">

                        <div class="team-item">
                            <div class="bg-hover-team"></div>

                            <div class="team-text">
                                <h3>Alexandria</h3>
                                <p>GRAPHIC DESIGNER</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>

                            </div>
                            <div class="img-item">
                                <img src="{% static 'assets/img/team/1.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="team-item">
                            <div class="bg-hover-team"></div>
                            <div class="team-text">
                                <h3>Ray Novascotia</h3>
                                <p>WEB DESIGNER</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>

                            </div>
                            <div class="img-item">
                                <img src="{% static 'assets/img/team/2.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="team-item">
                            <div class="bg-hover-team"></div>
                            <div class="team-text">
                                <h3>Foiza Nova</h3>
                                <p>MARKETING</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>

                            </div>
                            <div class="img-item">
                                <img src="{% static 'assets/img/team/3.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="team-item">
                            <div class="bg-hover-team"></div>
                            <div class="team-text">
                                <h3>Jason Rant</h3>
                                <p>FOUNDER</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>

                            </div>
                            <div class="img-item">
                                <img src="{% static 'assets/img/team/4.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="team-item">
                            <div class="bg-hover-team"></div>
                            <div class="team-text">
                                <h3>Soley </h3>
                                <p>DEVELOPER</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>

                            </div>
                            <div class="img-item">
                                <img src="{% static 'assets/img/team/5.jpg' %}" class="img-fluid" alt="">
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>

        <!-- Start Footer -->

{% endblock body %}